<nz-spin [nzTip]="'Cargando...'" [nzSpinning]="false">
  <div nz-flex nzJustify="space-between" nzAlign="center" nzWrap="wrap">
    <h1 style="width: fit-content;" nz-typography>Gestión de Solicitudes</h1>
    @if(authService.hasPermission('cu_solicitudes_bodega') || authService.hasPermission('cu_solicitudes_global')){
      <button nz-button nzType="primary" (click)="add()" [disabled]="loadingBodegas">
        Añadir Solicitud
      </button>
    }
  </div>
  

  @if(authService.hasPermission('r_solicitudes_global')){


    <div nz-flex nzGap="middle" nzAlign="center">
      <p nz-typography>Seleccione una bodega</p>
      <nz-select 
      name="select-bodega" 
      [(ngModel)]="selectedBodegaId" 
      required
      nzPlaceHolder="Seleccione bodega"
      style="margin-bottom: 16px; width: 25%;"
      [disabled]="loadingTableData"
      (ngModelChange)="selectBodega($event)">
      @if(loadingBodegas){
        <nz-option 
          nzDisabled nzCustomContent>
          <span nz-icon nzType="loading" class="loading-icon"></span>
          Cargando datos
        </nz-option>
        }@else {
          @for (b of bodegas; track b) {
            <nz-option [nzValue]="b.bodegaId" [nzLabel]="b.nombre"></nz-option>
        }
      }
    </nz-select>
    </div>


  }



  <nz-input-group [nzPrefix]="suffixIconSearch">
    <input type="text" nz-input placeholder="Ejemplo: Id, Fecha creada, Fecha modificada, etc. Uno a la vez" (keyup)="applyFilter($event)" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <nz-modal [(nzVisible)]="isDateFilterModalVisible" [nzTitle]="'Filtrar '+ currentColumn?.name" [nzFooter]="null"
    (nzOnCancel)="closeDateFilterModal()" nzCentered [nzStyle]="{'width':'fit-content'}">
    <ng-container *nzModalContent>
      <div nz-flex nzJustify="start" nzGap="large" nzVertical style="width: 100%;">
        <nz-radio-group [(ngModel)]="dateFilterMode">
          <label nz-radio-button nzValue="before">Antes de</label>
          <label nz-radio-button nzValue="after">Despues de</label>
          <label nz-radio-button nzValue="between">Entere</label>
        </nz-radio-group>
          @if(dateFilterMode === 'between'){
            <nz-range-picker [(ngModel)]="dateRange" [nzFormat]="'yyyy-MM-dd'"></nz-range-picker>
            }
            @if(dateFilterMode !== 'between'){
            <nz-date-picker [(ngModel)]="singleDate" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
            }
          <div style="width: 100%;" nz-flex nzJustify="center">
            <button nz-button nzType="primary" (click)="applyDateFilter()">Aplicar filtro</button>
          </div>
        </div>
      
    </ng-container>
  </nz-modal>


  <nz-table 
    #Table 
    [nzData]="displayedSolicitudes" 
    [nzLoading]="loadingTableData" 
    [nzPageSize]="pageSize" 
    nzBordered
    [(nzPageIndex)]="pageIndex"
    [nzTableLayout]="'fixed'"
    nzTitle="Lista de solicitudes" 
    [nzScroll]="{x: '1200px'}">
    <thead>
      <tr>
        @for (column of listOfColumns; track column.name) {
          <th [nzWidth]="column.width">
            @if(column.isDateFilter){
              <div nz-flex nzGap="small" style="width: fit-content;" [nzWrap]="'wrap'" [nzAlign]="'center'" nzJustify="center">
                <button 
                  nz-button 
                  nzType="default" 
                  nzSize="small"
                  (click)="openDateFilterModal(column)"
                  [disabled]=" filterActive  && !column.hasBeenDateFiltered"
                  >
                  <span nz-icon nzType="filter"></span>
                   Filtrar por fecha
                </button>
                <button
                (click)="clearDateFilter()"
                [disabled]="!column.hasBeenDateFiltered"
                nz-button
                nzSize="small"
                nzType="default"
                nzShape="circle"
                [ngClass]="{'icon-active': column.hasBeenDateFiltered}">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
              
              </div>
            }
          </th>
        }
        <th nzWidth="110px"></th>
      </tr>
      <tr>
        @for (column of listOfColumns; track column.name) {
          @if(column.filterFn == null){
            <th
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzWidth]="column.width"
            >
              {{ column.name }}
            </th>
          }@else {
            <th
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              [nzWidth]="column.width"
            >
              {{ column.name }}
            </th>
          }
        }
        <th nzWidth="110px">Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (data of Table.data; track data;) {
      <tr>
        <td>{{ data.solicitudId }}</td>
        <td [nzEllipsis]="true" nz-popover [nzPopoverContent]="data.observaciones" [nzPopoverOverlayStyle]="{'max-width': '350px'}">
          {{ data.observaciones }}
        </td>
        <td>{{ data.fechaSolicitud | date:'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ data.fechaModificacion | date:'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ data.fechaAprobacion | date:'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ data.fechaRechazo | date:'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ data.estadoSolicitudInventario.nombre }}</td>
        <td>
          <div nz-flex nzWrap="wrap" nzGap="middle" style="width: fit-content;">
            <a style="color: grey;" (click)="details(data)">Detalle</a>
            @if(data.estadoSolicitudId == 1 && authService.hasPermission('ad_solicitudes_global')){
              <a style="color: green;" (click)="check(data)">Gestionar</a>
            }
            @if((authService.hasPermission('cu_solicitudes_global') || authService.hasPermission('cu_solicitudes_bodega')) && data.estadoSolicitudId == 1){
              <a (click)="update(data.solicitudId)">Modificar</a>
            }
            @if(data.estadoSolicitudId == 1 && (authService.hasPermission('d_solicitudes_global') ||
              authService.hasPermission('d_solicitudes_bodega'))){
              <a style="color: red;" (click)="delete(data)">Cancelar</a>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</nz-spin>
