<div nz-flex nzJustify="space-between" nzAlign="center" nzWrap="wrap">
  <h1 style="width: fit-content;" nz-typography>Gestión de Distribuidores</h1>
  @if(authService.hasPermission('cu_distribuidores_global')){
  <button nz-button nzType="primary" (click)="add()">
    <span nz-icon nzType="user-add" nzTheme="outline"></span>
    Agregar Distribuidor
  </button>
  }
</div>

<nz-input-group [nzPrefix]="suffixIconSearch">
  <input type="text" nz-input placeholder="Ejemplo: Id, Nombre, Dirección, etc. Uno a la vez" (keyup)="applyFilter($event)" />
</nz-input-group>
<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>

<nz-table 
  #Table 
  [nzData]="displayedDistribuidores" 
  [nzLoading]="loadingTableData" 
  [nzPageSize]="pageSize" 
  [(nzPageIndex)]="pageIndex" 
  nzBordered
  nzTitle="Lista de distribuidores"
  [nzScroll]="{x: '650px'}">
  <thead>
    <tr>
      @for (column of listOfColumns; track column.name) {
        @if(column.filterFn == null){
          <th
            [(nzSortOrder)]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
          >
            {{ column.name }}
          </th>
        }@else {
          <th
            [(nzSortOrder)]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
            [nzWidth]="column.width"
          >
            {{ column.name }}
          </th>
        }
      }
      @if(
        authService.hasPermission('cu_distribuidores_global') || 
        authService.hasPermission('a_distribuidores_global') || 
        authService.hasPermission('d_distribuidores_global')
      ){
        <th nzWidth="110px">Acción</th>
      }

    </tr>
  </thead>
  <tbody>
    @for (u of Table.data; track u;) {
    <tr>
      <td>{{ u.distribuidorId }}</td>
      <td>{{ u.nombre }}</td>
      <td>{{ u.direccion }}</td>
      <td>{{ u.telefono }}</td>
      <td>{{ u.correoElectronico }}</td>
      @if(u.estado == 1){
        <td>Habilitado</td>
      }
      @else {
        <td>Deshabilitado</td>
      }
      <td>
        <div nz-flex nzWrap="wrap" nzGap="middle" style="width: fit-content;">
          @if(authService.hasPermission('cu_distribuidores_global') && u.estado == 1){
            <a (click)="update(u.distribuidorId)">Modificar</a>
          }
          @if(u.estado == 1 && authService.hasPermission('d_distribuidores_global')){
            <a style="color: red;" (click)="delete(u)">Deshabilitar</a>
          }
          @else if(authService.hasPermission('a_distribuidores_global')) {
            <a style="color: green;" (click)="activate(u)">Habilitar</a>
          }
        </div>
      </td>
    </tr>
    }
  </tbody>
</nz-table>