<div nz-flex nzJustify="space-between" nzAlign="center" nzWrap="wrap">
  <h1 style="width: fit-content;" nz-typography>Gestión de Productos</h1>
  @if(authService.hasPermission('d_productos_global')){
    <button nz-button nzType="primary" (click)="add()">
      <span nz-icon nzType="user-add" nzTheme="outline"></span>
      Añadir Producto
    </button>
  }
</div>

<nz-input-group [nzPrefix]="suffixIconSearch">
  <input type="text" nz-input placeholder="" (keyup)="applyFilter($event)" />
</nz-input-group>
<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>

<nz-table #Table [nzData]="displayedProductos" [nzLoading]="loadingTableData" [nzPageSize]="pageSize" [(nzPageIndex)]="pageIndex"
  nzTitle="Lista de Productos" [nzScroll]="{x: '600px'}">
  <thead >
    <tr>
      <th nzWidth="55px">#</th>
      <th>Nombre</th>
      <th>Código</th>
      <th>Categoría</th>
      <th>Unidad de medida</th>
      <th>Precio Venta</th>
      <th>Estado</th>
      <th nzWidth="200px">Acción</th>
    </tr>
  </thead>
  <tbody>
    @for (data of Table.data; track data;) {
    <tr>
      <td>{{ (pageIndex - 1) * pageSize + $index + 1 }}</td>
      <td>{{ data.nombre }}</td>
      <td>{{ data.codigo }}</td>
      <td>{{ data.categoria }}</td>
      <td>{{ data.unidadMedida }}</td>
      <td>${{ data.precioVenta }}</td>
      @if(data.estado == 1){
        <td>Habilitado</td>
      }@else { <td>Deshabilitado</td> }
      
      <td nzAlign="right">
        @if(authService.hasPermission('cu_productos_global') && data.estado == 1){
          <a (click)="update(data.productoId)">Modificar</a>
        }
        @if(data.estado == 1 && authService.hasPermission('d_productos_global')){
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: red;" (click)="delete(data)">Deshabilitar</a>
        }
        @else if(authService.hasPermission('d_productos_global')) {
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: green;" (click)="activate(data)">Habilitar</a>
        }
      </td>
    </tr>
    }
  </tbody>
</nz-table>