@if(isLoading){
<div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <nz-spin nzSimple nzSize="large" [nzSpinning]="isLoading"></nz-spin>
</div>
} @else {
@if (isLoggedIn){
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" [nzCollapsedWidth]="0">
    <div class="sidebar-logo">
      <a routerLink="/inicio">
        <img src="logo.png" alt="logo">
        <h1>Inventapro</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/inicio">Inicio</a>
      </li>

      @if(
        authService.hasPermission('r_informes_global') ||
        authService.hasPermission('r_informes_bodega') ||
        authService.hasPermission('r_alarmas_global') ||
        authService.hasPermission('r_alarmas_bodega') ||
        authService.hasPermission('r_dashboard_global') ||
        authService.hasPermission('r_dashboard_bodega')
      ){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      }
      @if(authService.hasPermission('r_bodegas_global')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/bodega">Bodegas</a>
        </li>
      }
      @if(authService.hasPermission('r_usuarios_global') || authService.hasPermission('r_usuarios_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/usuarios">Usuarios</a>
        </li>
      }
      @if(authService.hasPermission('r_roles_global') || authService.hasPermission('r_roles_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/roles">Roles y permisos</a>
        </li>
      }
      @if(authService.hasPermission('r_distribuidores_global')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/distribuidor">Distribuidores</a>
        </li>
      }
      @if(authService.hasPermission('r_productos_global') || authService.hasPermission('r_productos_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/productos">Productos</a>
        </li>
      }
      @if(authService.hasPermission('r_inventarios_global') || authService.hasPermission('r_inventarios_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/inventario">Inventario</a>
        </li>
      }
      @if(authService.hasPermission('r_solicitudes_global') || authService.hasPermission('r_solicitudes_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/solicitud">Solicitudes</a>
        </li>
      }
      @if(authService.hasPermission('r_transferencias_global') || authService.hasPermission('r_transferencias_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/transferencia">Transferencias</a>
        </li>
      }
      @if(authService.hasPermission('r_perdidas_global') || authService.hasPermission('r_perdidas_bodega')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/perdida">Pérdidas</a>
        </li>
      }
      @if(authService.hasPermission('r_compras_global')){
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/compras">Compras</a>
        </li>
      }
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/alerta">Configuración de alertas</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-flex nzAlign="center">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed" nz-flex>
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div nz-row style="width: 100%;" nzAlign="middle">
          <div nz-col nzSpan="16">
            <h4 nz-typography nzEllipsis style="margin: 0;">Bienvenido {{authService.getUser()?.nombre}} {{authService.getUser()?.apellido}}</h4>
          </div>
          <div nz-col nzSpan="5">
            <h4 nz-typography nzEllipsis style="margin: 0;">
              {{ authService.getBodega() ? 'Bodega: ' + authService.getBodega() : '' }}
            </h4>
            
          </div>
          <div nz-col nzSpan="3"><button nz-button nzType="primary" nzDanger (click)="logOut()">Cerrar sesión</button></div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
} @else {
<app-login></app-login>
}
}