<nz-spin [nzTip]="'Cargando...'" [nzSpinning]="loadingTableData">
<h4 nz-typography>Distribuidor: {{dist}}</h4>
<h5 nz-typography>Fecha compra: {{ fecha | date:'dd-MM-yyyy HH:mm' }}</h5>
<p nz-typography>Observacion: {{obs}}</p>
<nz-table 
    #Table 
    [nzData]="displayedCompra" 
    nzBordered
    [nzPageSize]="pageSize" 
    [(nzPageIndex)]="pageIndex"
    [nzTableLayout]="'fixed'"
    [nzScroll]="{x: '650px'}">
    <thead>
      <tr>
        @for (column of listOfColumns; track column.name) {
          @if(column.filterFn == null){

            @if(column.sortFn == null){
              <th
              [nzWidth]="column.width"
            >
              {{ column.name }}
            </th>
            }@else {
              <th
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzWidth]="column.width"
            >
              {{ column.name }}
            </th>
            }

            
          }@else {
            <th
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              [nzWidth]="column.width"
            >
              {{ column.name }}
            </th>
          }
        } 
      </tr>
    </thead>
    <tbody>
      @for (data of Table.data; track data;) {
      <tr>
        <td>{{ data.productoId }}</td>
        <td>{{ data.producto.nombre }}</td>
        <td>{{ data.producto.codigo }}</td>
        <td>${{ data.precioCompra }}</td>
        <td>{{ data.cantidad }}</td>
      </tr>
      }
    </tbody>
  </nz-table>

  <div nz-flex nzJustify="space-around">

    <button 
    nz-button 
    nzType="primary"
    [nzLoading]="downloading"
    (click)="download()"
    >
      <span nz-icon nzType="download" nzTheme="outline"></span>
      Descargar resumen compra
    </button>
    @if(url != "" && url != undefined ){
      <a style="color: green;" href="https://3.83.165.38/api{{url}}" target="_blank">
        Ver evidencia
      </a>
    }

  </div>



</nz-spin>
