<nz-spin [nzTip]="'Cargando...'" [nzSpinning]="loadingTableData">

  <h1 style="width: fit-content;" nz-typography>Nueva Transferencia</h1>

  @if(!found){
    <div nz-flex nzGap="middle" nzAlign="center">
      <p nz-typography style="margin: 0;">Ingrese id solicitud</p>
      <nz-input-number [(ngModel)]="selectedSolicitudId" [nzMin]="1" [nzStep]="1"></nz-input-number>
      <button nz-button nzType="primary" (click)="getTransferencias()">Buscar</button>
      <!-- <p nz-typography>Seleccione una bodega</p>
      <nz-select
        nz-col
        nzSpan="10"
        name="select-bodega"
        [(ngModel)]="selectedBodegaId"
        required
        [disabled]="loadingTableData"
        [nzStatus]="statusBodega()"
        style="margin-bottom: 16px;"
        (ngModelChange)="selectBodega($event)"
        nzPlaceHolder="Seleccione bodega destino"
        [nzLoading]="loadingBodegas"
      >
        @if(loadingBodegas){
          <nz-option nzDisabled nzCustomContent>
            <span nz-icon nzType="loading" class="loading-icon"></span>
            Cargando datos
          </nz-option>
        }@else {
          @for (b of bodegas; track b) {
            <nz-option [nzValue]="b.bodegaId" [nzLabel]="b.nombre"></nz-option>
          }
        }
      </nz-select> -->
    </div>
  }

  
  @if(found){
    <nz-table 
    #Table 
    [nzData]="displayedInventario" 
    [nzPageSize]="pageSize" 
    [(nzPageIndex)]="pageIndex"
    nzBordered
    nzTitle="Lista de productos solicitados" 
    [nzScroll]="{x: '600px'}"
  >
    <thead>
      <tr>
        <th nzWidth="100px">Id producto</th>
        <th>Nombre</th>
        <th>Código</th>
        <th>Categoría</th>
        <th>Unidad de medida</th>
        <th 
          nz-tooltip 
          nzTooltipTitle="Solicitudes aprobadas esta semana"
        >
          Cantidad aprobada
        </th>
        <th>Cantidad en bodega</th>    
        <th>Precio compra</th>
        <th>Cantidad a enviar</th>
      </tr>
    </thead>
    <tbody>
      @for (data of Table.data; track data;) {
        @if (data.lotesInventario.length > 1){
          @for(lote of data.lotesInventario; track lote;){
            @if($index == 0){
              <tr>
                <td [rowSpan]="data.lotesInventario.length">{{ data.productoId }}</td>
                <td [rowSpan]="data.lotesInventario.length">{{ data.nombre }}</td>
                <td [rowSpan]="data.lotesInventario.length">{{ data.codigo }}</td>
                <td [rowSpan]="data.lotesInventario.length">{{ data.categoria }}</td>
                <td [rowSpan]="data.lotesInventario.length">{{ data.unidadMedida }}</td>
                <td [rowSpan]="data.lotesInventario.length">{{ data.cantidadSolicitada }}</td>
                <td>{{ lote.cantidadEnBodega }}</td>
                <td>${{ lote.precioCompra }}</td>
                <td>
                  <nz-input-number 
  [ngModel]="lote.cantidadAEnviar" 
  [nzMin]="0" 
  [nzStep]="1"
  [nzMax]="getMaxForLote(data.productoId, lote.loteId, data.cantidadSolicitada ?? 0)"
  (input)="setCantidad($event, lote.loteId, data.productoId, data.cantidadSolicitada ?? 0)">
</nz-input-number>

                </td>
            </tr>
            }@else {
              <tr>
                <td>{{ lote.cantidadEnBodega }}</td>
                <td>${{ lote.precioCompra }}</td>
                <td>
                  <nz-input-number 
  [ngModel]="lote.cantidadAEnviar" 
  [nzMin]="0" 
  [nzStep]="1"
  [nzMax]="getMaxForLote(data.productoId, lote.loteId, data.cantidadSolicitada ?? 0)"
  (input)="setCantidad($event, lote.loteId, data.productoId, data.cantidadSolicitada ?? 0)">
</nz-input-number>

                </td>
              </tr>
            }
          }
        }@else {
          <tr>
            <td>{{ (pageIndex - 1) * pageSize + $index + 1 }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.codigo }}</td>
            <td>{{ data.categoria }}</td>
            <td>{{ data.unidadMedida }}</td>
            <td>{{ data.cantidadSolicitada }}</td>
            <td>{{ data.lotesInventario[0].cantidadEnBodega }}</td>
            <td>${{ data.lotesInventario[0].precioCompra }}</td>
            <td>
              <nz-input-number 
                type="number"
                [ngModel]="data.lotesInventario[0].cantidadAEnviar" 
                [nzMin]="0" 
                [nzStep]="1"
                [nzMax]="data.lotesInventario[0].cantidadEnBodega" 
                (input)="setCantidad($event, data.lotesInventario[0].loteId, data.productoId, data.cantidadSolicitada ?? 0)"
              >
              </nz-input-number>
              <nz-input-number 
                [ngModel]="data.lotesInventario[0].cantidadAEnviar" 
                [nzMin]="0" 
                [nzStep]="1" 
                [nzMax]="getMaxForLote(data.productoId, data.lotesInventario[0].loteId, data.cantidadSolicitada ?? 0)"
                (input)="setCantidad($event, data.lotesInventario[0].loteId, data.productoId, data.cantidadSolicitada ?? 0)">
              </nz-input-number>

            </td>
          </tr>
        }
      }
    </tbody>
  </nz-table>
  
  <div nz-row>
    <div nz-col nzSpan="16">
  
      <form nz-form  style="width: 80%;" #myForm="ngForm">
        <p nz-typography>Observación</p>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzSpan]="24" [nzErrorTip]="observacionTip">
            <textarea nz-input [(ngModel)]="obs" name="required" rows="4" required ></textarea>
            <ng-template #observacionTip let-control>
              @if (control.errors?.['maxlength']) {
                Maximo de caracteres exedido
              }
              @if (control.errors?.['required']) {
                Campo requerido
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
  
    </div>
    <div nz-col nzSpan="8">
      <div nz-flex nzVertical nzGap="large" nzJustify="center" style="height: 100%;">
        <button 
          nz-button 
          nzType="primary" 
          [disabled]="!valid()" 
          style="width: 50%;" 
          (click)="create()"
          [nzLoading]="creating"
        >
          Aceptar
        </button>
        <button 
          nz-button 
          nzType="primary" 
          nzDanger 
          style="width: 50%;"
          routerLink="/transferencia"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
  }


</nz-spin>

